{
    auto_https off
}

:80 {
    encode zstd gzip

    handle /api/* {
        root * /app/public
        php_fastcgi backend:9000 {
            try_files {path} /index.php
        }
    }

    handle {
        reverse_proxy frontend:3000
    }
}
